@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #ededed;
  --color-charcoal: #111111;
  --color-safety-orange: #ff6b00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-charcoal: var(--color-charcoal);
  --color-safety-orange: var(--color-safety-orange);

  --font-sans: var(--font-inter);
  --font-heading: var(--font-teko);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}